@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 240, 240, 240;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 30;
  --background-end-rgb: 10, 10, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
  padding-top: 4rem;
  transition: background 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

/* Aplicar transición de tema a todos los elementos que cambiarán */
*, *::before, *::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}